body {
  @apply p-6;
  @apply min-h-screen;

  @apply font-sans;

  // Simple background with color gradient
  @apply bg-gradient-to-b from-sky-400 via-sky-400 to-sky-500;

  // Fullscreen background image example
  //background-image: url('../../images/background.jpg');
  //@apply bg-center bg-cover bg-fixed;
}

a,
a:link,
a:visited {
  @apply font-semibold;
  @apply text-white;

  &:hover {
    @apply underline;
  }
}

strong {
  @apply font-semibold;
}

main {
  @apply flex flex-col;

  #logo {
    @apply m-auto;
    @apply w-full;
    @apply max-w-md;
  }

  span.emoji {
    @apply text-2xl;
  }
}

.error {
  @apply flex flex-col;
  @apply rounded-lg;
  @apply p-3;

  @apply bg-red-500 text-sm text-white;

  &::before {
    content: 'Error';

    @apply font-semibold;
    @apply text-base;
  }

  button {
    @apply py-2 px-6;

    @apply font-semibold text-white text-xs bg-red-400 border-red-400;

    &:hover {
      @apply bg-red-600 border-red-600;
    }
  }
}

button {
  &.primary {
    @apply text-black bg-yellow-400 border-yellow-400;

    &:hover {
      @apply bg-yellow-500 border-yellow-500;
    }

    &:disabled {
      @apply opacity-30;

      &:hover {
        @apply cursor-not-allowed;
      }
    }
  }

  &.success {
    @apply text-black bg-lime-500 border-lime-500;

    &:hover {
      @apply bg-lime-600 border-lime-600;
    }

    &:disabled {
      @apply opacity-50;

      &:hover {
        @apply cursor-not-allowed;
      }
    }
  }
}

input[type='text'] {
  @apply py-2 px-4;

  @apply rounded-full;

  @apply font-mono font-semibold text-indigo-600 bg-white border border-slate-200 shadow-sm outline-none;

  &:focus {
    @apply text-indigo-600 bg-slate-50 border-indigo-300;
  }

  &:disabled {
    @apply opacity-50;

    &:hover {
      @apply cursor-not-allowed;
    }
  }

  &::placeholder {
    @apply text-indigo-600;
    @apply opacity-50;
  }
}

label {
  @apply mt-4 mb-1 ml-1;

  @apply font-semibold;
  @apply text-indigo-400 text-sm;
}
