#minting-dapp {
  .no-wallet {
    @apply flex flex-col;
    @apply px-4 pb-6;

    .use-block-explorer {
      &:not(:first-child) {
        @apply mt-3;
      }

      &:not(:first-child)::before {
        content: '';

        @apply block;
        @apply mx-auto my-3;
        @apply w-12;

        @apply border-t-2 border-slate-200;
      }
    }
  }

  .collection-not-ready {
    @apply flex items-center justify-center;
    @apply px-6 py-4;

    @apply text-white;

    .spinner {
      @apply inline;
      @apply -ml-1 mr-3 h-8 w-8 text-sky-600;
      @apply animate-spin;
    }
  }

  .collection-status {
    @apply grid sm:grid-cols-2 auto-rows-min;
    @apply rounded-lg;

    @apply font-mono;
    @apply text-slate-800 text-sm;
    @apply bg-white;
    @apply shadow;

    & > * {
      @apply flex flex-col items-center;
      @apply px-6 py-4;

      .label {
        @apply text-xs text-indigo-400;
      }
    }

    .user-address {
      @apply sm:col-span-2;
      @apply overflow-hidden;

      @apply border-b border-slate-200;

      .address {
        @apply w-full;

        @apply font-semibold;
        @apply truncate;
        @apply text-center;
      }
    }

    .supply,
    .current-sale {
      .label {
        @apply block;

        @apply font-semibold;
      }

      &.supply {
        @apply border-b sm:border-b-0 sm:border-r border-slate-200;
      }
    }
  }

  .cannot-mint,
  .not-mainnet,
  .collection-sold-out {
    @apply rounded-lg;
    @apply px-6 py-4;

    @apply text-center text-white;

    &.cannot-mint .emoji {
      @apply block;

      @apply text-4xl;
    }

    &.not-mainnet {
      @apply text-white bg-yellow-400 border border-y-red-500;

      .small {
        @apply block;

        @apply text-sm;
      }
    }

    &.collection-sold-out {
      h2 {
        @apply mb-3;

        @apply text-xl;
      }
    }
  }

  .preview {
    @apply w-full p-8 pb-4;

    img {
      @apply w-full;
    }
  }

  .mint-widget {
    @apply flex flex-col items-center;
    @apply rounded-lg;
    @apply overflow-hidden;

    @apply text-slate-800 text-center;

    .price {
      @apply px-6 py-4;
    }

    & > * {
      @apply w-full;
    }

    .controls {
      @apply flex items-stretch;

      & > * {
        @apply rounded-none;
        @apply border-0;
      }

      .mint-amount {
        @apply flex items-center justify-center;
        @apply w-full;

        @apply font-semibold;
      }

      .primary {
        @apply border-0;
      }
    }
  }

  .tooltip::after {
    content: '';
    border-color: currentColor transparent transparent transparent;

    @apply rotate-90 -translate-y-1/2 absolute top-1/2 -left-5 -ml-5 border-[20px] border-solid;
  }
}
